
body{
   font-family: Arial,Sans-Serif, Helvetica;
   background-color: #7abcff;
}
header{
    padding: 20px 15px;
    overflow: hidden;
}
.header a {
    float: left;
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 15px;
    padding: 10px;
    line-height: 20px;
    font-weight: bold;
}
.header a.brand {
    font-size: 25px;
    font-weight: bold;
}
.header-right {
    float: right;
   
}
.header a:hover {
    background-color: #0481ff;
    color: black;
}
.footer {
    position: fixed;
    height: 50px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #0481ff;
    color: white;
    text-align: center;
}

.main-column3 {
    float: left;
    width: 100%;
    padding: 10px;
    margin-top: 0px;
}
/* Style the active/current link*/
.header a.active {
    background-color: #0481ff;
    color: white;
}
/* style signup and login forms */
.wrap{
    width: 350px;
    margin: auto;
    background: #7abcff;
    margin-top: 10px;
    padding: 10px;
}
.wrap_q{
    margin: auto;
    background: #7abcff;
    margin-top: 10px;
    padding-bottom: 50px;
}
.wrap_q2{
    margin: auto;
    background: #7abcff;
    margin-top: 10px;
    padding-bottom: 50px;
    float: left;
}
.wrapT{
    position : relative;   
    width: 800px;
    height: auto;
    padding: 10px;
    font-size: 1em;
    border-radius: 25px;
    background-color: white;
}
.center {
    margin: auto;
    width: 70%;
    border: 3px dotted white;
    padding: 10px;
}
.center1 {
    margin: auto;
    width: 100%;
    border: 3px dotted white;
    padding: 10px;
}
#quest-title{
    color: blue;
    text-align: center;
}
#quest-body{
    
}

.post_q{
        width: 350px;
        margin: auto;
        margin-top: 80px;
        margin-bottom: 50px;
}
.textarea{
        margin: auto;
}
.submit_q{
    width: 200px;
    margin: auto;
    background: #0481ff;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    color: white;
}
form{
    padding: 10px;
    font-family: arial;
    border: 1px dotted white;
    margin-top: 40px;
}
h2{
    text-align: center;
    background: #0481ff;
    color: white;
    padding: 10px;
    border-radius: 10px;
}
input{
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: none;
}
input[type="text"], input[type="email"],input[type="password"]{
    width: 90%;
}
#title{
    width: 51.5%;
}
input[type="submit"]{
    width: 95%;
    background: #0481ff;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    color: white;
}
input[type="submit"]:hover{
    background: #003d7a;

}
/* allows us to include the padding and border in an element's total width and height */
* {
      box-sizing: border-box;
    }
 
table{
      float: left;
    }

.img{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    }
#pro{

  }
span{
    font-weight: bold;
    color: white;
    }
    
#quest{
    width: auto;
    margin-top: 80px;

}

.column {
    float: left;
    width: 48.33%;
    padding: 2px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width:600px) {
    .column {
        width: 100%;
    }
}
